<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQhUNpUBqxOtzoZ1VG_0d_nFVz68m5YfU</string>
	<key>GCM_SENDER_ID</key>
	<string>62236028548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vestiaire.app</string>
	<key>PROJECT_ID</key>
	<string>vestiaire-20b29</string>
	<key>STORAGE_BUCKET</key>
	<string>vestiaire-20b29.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62236028548:ios:a3f44af78147f912b11cd1</string>
</dict>
</plist>